.element__list{
  list-style: none;
}
.element__image{
  height: 200px;
  padding-top: 15px;
}
.title__line{
  width: 90%;
  border: none;
  height: 2px;
  background-color: white;
}

.element__name{
  font-weight: bold;
  color:#fddb00;
  text-transform: uppercase;
}

.btn__moreDetails{
  font-weight: bold;
  width: 120px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #000;
  color: #fddb00;
  border-color: #fddb00;
  border-width: 1px;
  text-transform: uppercase;
  transition: all .35s cubic-bezier(.25,.46,.45,.94);
}
.btn__moreDetails:hover{
  color: black;
  background-color: #fddb00;
  transition: all .35s cubic-bezier(.25,.46,.45,.94);
  cursor: pointer;
}

.btn__close{
  float: right;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    margin: 10px 10px 0 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.showMoreDetails{
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    transform: translate(0%,0%);
    background-color: white;
    color: black;
    height: 100%;
    width: 100%;
    top: 0; 
    position: fixed;

  }

.hideMoreDetails{
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transform: translate(0%,-100%);
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
}

.element__details--name{
  margin-top: 60px;
  margin-bottom: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 30px;
}

.element__details{
  margin:0;
  font-weight: bold;
}
.element__details--block{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.element__details--description{
  padding: 25px;
}

@media all and (min-width: 768px){
  .showMoreDetails{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    margin: auto;
  }
  .hideMoreDetails{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    margin: auto;
  }
}


@media all and (min-width: 768px){
  .showMoreDetails{
    width: 600px;
  }
  .hideMoreDetails{
    width: 600px;
  }
}
